section {min-height: 100vh;}

           /* cabeçario */
           .menu-sticky  {
            position: sticky;
            top: 0px;
            background-color: #333;
            color: white;
            padding: 20px 0;
            display:flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
            height: 130px; /* Altura definida explicitamente */
            }

            .menu-sticky img {
            width: 130px;
            height: 100px;
            left: 10px;
            padding: 10px;
            top: 0%;
            
            }
           
           
            /* ARRUMA OS LINKS DO MENU STICK  */
           .menu-sticky nav  a {
            color: rgb(223, 212, 212);
            text-decoration: none;
            margin: 0 10px;
            }

            /* cor de fundo dos nomes  */
            .menu-sticky nav a:hover {
            color: #9222b4;
            }

            /* seçoes do site  */
                  .secao {
            padding: 10px ; 
            min-height: 100vh ;
            text-align: center;
            scroll-margin-top: 130px; /* Corresponde à altura do menu */
            }

            #home {    
            background-color: #ffffff;
            }

            #home img{width: 80%;
            height: auto;
            max-width: 500px ;

            }

            #sobre {
            background-color: #ffffff;
            }

            #contato {
            background-color: #ffffff;
            }

            .footer {
            position: sticky;
            top: 0;
            background-color: #333;
            color: white;
            padding: 20px 0;
            text-align: center;
            z-index: 1000;
            height: 80px; /* Altura definida explicitamente */
            }

            .footer h1 { color: #9222b4;
         
            }
