section {min-height: 100vh;}
          
      .navbar-expand-sm {      
      background-color:rgba(11, 96, 255, 0.315);
      border-radius: 10PX;
            }    

            /* duvidas como mudar cor das escritas ?
               porque ao mudar  navbar-brand linha 12 muda o formato da barra?
               e porque ao mudar o tamanho manualmente estraga praticamente todo site mais ao botar uma imagem se ajusta naturalmente                                       */

                        .carrocel{  
                        display: grid;
                        grid-template-columns: 1fr, 1fr;
                        grid-template-rows: 1fr, 1fr ;
                        align-items: center;
                        align-content: center;
                        padding: 10px;
                        grid-template-areas: 
                        "pedro pedro " 
                        "img1 img2" 
                        ;}

                        @media (max-width: 1000px){ 
                        .carrocel{
                        grid-template-columns: 1fr ;
                        grid-template-rows: 1fr 1fr 1fr ;
                        grid-template-areas: 
                        "pedro" 
                        "img2 " 
                        "img1 "
                        ;
                        min-width: 500px;
                                }
                                                  }
                        .pedro{
                              grid-area: pedro;
                              
                              
                        }

                        .img1{
                              grid-area: img1;
                              margin: 5px;
                              margin-left: 11px;

                        }

                        .img2{
                              grid-area: img2;
                              margin: 5px;
                              margin-right: 11px;
                        }


            #home {   
           
                    
            background-color:rgb(255, 255, 255);
            
            }
             
            #sobre {
            background-color: rgb(216, 0, 0);
            }

            #contato {
            background-color: rgb(100, 3, 76);
            }

            #login {
            background-color:rgb(7, 243, 223);
            }


            .footer {
            position: sticky;
            background-color: rgb(32, 222, 255);
            padding: 20px ;
            text-align: center;
            z-index: 1000;
            height: 140px; /* Altura definida explicitamente */
            }

            .figform fieldset { background-color: #f1f1f1;
                  display: grid;
                        grid-template-columns: 1fr 1fr;
                         
                        
             }

             .figform { display: grid;
                  grid-template-columns: 1fr 1fr;
                  
            }

            @media (max-width: 768px){ 
                  .figform { display: grid;
                  grid-template-columns: 1fr ;
                  
                  }
            }

            .footer h1 { color: #9222b4;
         
            }

            .mosaico{ 
            display: grid;
            grid-template-columns: 1fr, 1fr,1fr;
            grid-template-rows: 1fr, 1fr ,1fr;
            grid-template-areas: 
            "foto1 foto1 foto2" 
            "foto3 foto4 foto4" 
            "foto5 foto5 foto5 ";
            width: 50vw;
            height: 80vw;
                 
      }
 
      @media (max-width: 1000px){ 
            .mosaico{
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr, 1fr ,1fr, 1fr , 1fr ;
            grid-template-areas: 
            "foto1 " 
            "foto2 " 
            "foto3 "
            "foto4 "
            "foto5 "
            ;
            width: 40vw;
            height:80vw;
            
            }
      }
           



            .foto1 {
            grid-area: foto1;
             background-image: url('../img/antigo/hellokitty.webp');     
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: auto;
            
            }

            .foto2 {
                  grid-area: foto2;
                  background-image: url('../img/antigo/rio_584x800_7a83f253.jpeg');     
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 width: auto ;
                 
     
     
                 }

                 .foto3 { 
                  grid-area: foto3;
                  background-image: url('../img/antigo/png-clipart-blue-bird-illustration-macaw-parrot-fauna-perico-illustration-rio2-blu-4-parakeet-fauna-thumbnail.png');     
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 width: auto;
                 
                 
     
     
                 }

                 .foto4 {
                  grid-area: foto4;
                  background-image: url('../img/antigo/kit-rio-png-50-imagens-1.jpg');     
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 width: auto;
                 
                 
     
     
                 }

                 .foto5 {
                  grid-area: foto5;
                  background-image: url('../img/antigo/png-transparent-blu-rio-animated-film-rio-2-blue-galliformes-chicken.png');     
                 background-repeat: no-repeat;
                 background-size: cover;
                 background-position: center;
                 width: auto;
                 
                 
     
     
                 }

                 .mosaicosec{

                  display: flex;
                  align-items: center;
                  justify-items: center; 
                  justify-content: center;


                 }