* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-width: 375px;
    max-width: 1920px;
    height: 100%;
}

h1 {
    font-family: 'alan sans', sans-serif;
}

p {
    font-family: 'alan sans', sans-serif;
}

body {
    /* background: linear-gradient(to right, rgb(47, 47, 94), rgb(0, 0, 0)); */
    background: radial-gradient(circle, #c72cc2c9, #000000fb);
    /* background: radial-gradient(circle at center, #39ff14 0%, #000 70%); */
    margin: 0;
    height: 100vh;
    /* background: linear-gradient(to right, #7e287b, #276f70, #000000); */
    background-size: cover;
    /* garante que o gradiente cubra toda a tela */
    font-family: 'alan sans', sans-serif;

}

.menu-based {
    position: relative;
    background: #d8d6d321;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
    border-radius: 20px;
}

#titulo {
    font-size: 80px;
    background: radial-gradient(circle, #c72cc2, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

/* section */

#todo {
    display: grid;
    gap: 20px;
    padding: 50px;
    width: clamp(375px, 100vw, 1000px);
    margin: auto;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 300px 100px 0px;
    grid-template-areas:

        "ad ver"
        "ad ver"
    ;

    font-family: 'alan sans', sans-serif
}


#ad {
    grid-area: ad;
    background-color: #d8d6d321;
    border-radius: 15px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #000000 #fffaf0;

}

#lista {
    grid-area: ver;
    background-color: #d8d6d321;
    border-radius: 20px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #dfd0d0 #4b402b;
}

.buttom {
    border-radius: 20px;
    height: 30px;
    width: 110px;
    margin: 5px;
}

#tarefa {border-radius: 20px;
         height: 25px; 
         padding: 10px;
}

#data {border-radius: 20px;
         height: 25px;
       width: 120px;
       padding: 10px;
} 
.d1 {height: 30px;
     width: 50px;
     border-radius: 20px;
     margin: 10px;

}
.apagado1{text-decoration: line-through;

}